.card {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.cardTitle {
  font-family: "Bellefair", serif;
  font-size: 6rem;
}

.cardDescription {
  margin-top: 3rem;
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
  /* height: 15vh; */
}

.card_description_container {
  height: 24vh;
}

.cardLine {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 4rem;
}

.cardLower {
  display: flex;
  margin-top: 3rem;
  font-family: "Barlow Condensed", sans-serif;
  align-items: flex-start;
}

.cardLower div {
  margin-right: 5rem;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.cardLower div h3 {
  font-size: 1.5rem;
  margin-top: 0.4rem;
  font-weight: 400;
}

@media (max-width: 800px) {
  .card {
    width: 48vw;
  }
  .cardLower {
    padding-bottom: 2rem;
    justify-content: space-between;
  }
  .cardLower div {
    margin-right: unset;
  }
  .cardLower div h3 {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .card {
    width: 80vw;
  }

  .cardTitle {
    font-size: 4rem;
    text-align: center;
  }

  .cardLower {
    flex-direction: column;
    margin: 0 auto;
  }

  .cardLower div {
    text-align: center;
  }

  .cardLower div:first-child {
    margin-bottom: 2rem;
  }
}
