.destination_container {
  background: url(../../assets/destination/background-destination-desktop.jpg)
    no-repeat center center/cover;
  color: white;
  display: flex;
  flex-direction: column;
  animation: homeAnimation 1s;
}

.destination_content {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width: 97vw;
  margin-top: 20vh;
  animation: homeAnimation 1s;
}

.destination_left {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
}

.destination_title {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
}

.destination_title span {
  color: grey;
  font-weight: 700;
}

.destination-picture {
  margin-top: 2rem;
}

.destination_right {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  max-width: 23vw;
  justify-content: space-between;
  align-items: flex-start;
  height: 60vh;
}

@media (max-width: 800px) {
  .destination_container {
    background: url(../../assets/destination/background-destination-mobile.jpg)
      no-repeat center center/cover;
    height: unset;
  }

  .destination_right {
    min-width: 70%;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .destination_left {
    padding: 1rem;
    height: 35vh;
  }
  .destination_title {
    font-size: 1.5rem;
  }

  .destination_right {
    max-width: unset;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 8rem;
  }
}
