.dest_nav_container {
  display: flex;
  background-color: transparent;
  width: 100%;
  height: 3rem;
  margin-left: 0px;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-family: "Barlow Condensed", sans-serif;
}

.dest_nav_container button {
  margin-right: 2rem;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  font-size: 1.7rem;
  height: 3.5rem;
  cursor: pointer;
}

.dest_nav_container button:focus {
  border-bottom: 2px solid grey;
  border-top: 2px solid transparent;
}

.initialButton {
  border-bottom: 2px solid grey;
  border-top: 2px solid transparent;
}

.card_description_container {
  height: 250px;
}

@media (max-width: 800px) {
  .destination_content {
    flex-direction: column;
    align-items: center;
  }

  .dest_nav_container {
    align-items: center;
    justify-content: center;
  }

  .dest_nav_container button {
    margin-bottom: 2rem;
  }
}

@media (max-width: 650px) {
  .dest_nav_container {
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }

  .dest_nav_container button {
    font-size: 1.2rem;
  }

  .destination_content {
    margin-top: 45vh;
  }
}
