.bullets_container {
  display: flex;
  flex-direction: column;
  width: 5rem;
}

.bullets_container button {
  background-color: transparent;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid grey;
  color: white;
  font-family: "Bellefair", serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 3rem;
  cursor: pointer;
}

.bullets_container button:focus {
  background-color: white;
  color: black;
}

@media (max-width: 1200px) {
  .bullets_container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
  }
}

@media (max-width: 650px) {
  .bullets_container button {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
  }
}
