.home-container {
  color: white;
  animation: vidAnimation 43s;
}

.home-container-static {
  background: url(../../assets/home/background-home-desktop.jpg) no-repeat
    center center/cover;
  height: 100vh;
  animation: backAnimation 6s;
}

.home-container video {
  width: 100vw;
  position: fixed;
  z-index: -1;
  height: 100%;
  height: auto;
  top: 0;
}

.home-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  margin-top: 38vh;
}

.home-left {
  letter-spacing: 0.05rem;
  color: whitesmoke;
  width: 40%;
}

.home-left-title {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
}

.home-left-main {
  font-family: "Barlow condensed", serif;
  font-weight: 400;
  font-size: 9rem;
  letter-spacing: 0.2rem;
}

.home-left-text {
  margin-top: 1rem;
  font-family: "Barlow condensed", sans-serif;
  line-height: 2rem;
  margin-bottom: 12vh;
  text-align: justify;
}

.home-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  padding: 8rem;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Barlow", serif;
  font-size: 2rem;
  transition: all 500ms;
}

.home-right:hover {
  outline: 60px solid;
  outline-color: rgba(255, 255, 255, 0.1);
  outline-offset: 0px;
}

.home-right a {
  text-decoration: none;
  color: white;
  margin-bottom: 1rem;
}

.home-footer {
  color: grey;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .home-content {
    flex-direction: column;
    margin-top: 35rem;
  }
  .home-container {
    background: url(../../assets/home/background-home-mobile.jpg) no-repeat
      center center/cover;
    height: unset;
    height: contain;
    color: white;
    animation: homeAnimation 1s;
    overflow-x: hidden;
  }

  .home-left {
    width: unset;
  }

  .home-footer {
    margin-top: 20vh;
    padding-bottom: 1rem;
  }
}

@media (max-width: 650px) {
  .home-content {
    text-align: center;
    padding: 1rem;
  }
  .home-left-title {
    font-size: 1.2rem;
  }

  .home-left-main {
    font-size: 4rem;
  }

  .home-left-text {
    text-align: justify;
  }
}
