.crew_container {
  background: url(../../assets/crew/background-crew-desktop.jpg) no-repeat
    center center/cover;
  color: white;
  display: flex;
  flex-direction: column;
  animation: homeAnimation 1s;
  max-width: 100%;
}

.crew_container_content {
  margin-top: 20vh;
  height: 70vh;
  justify-content: space-around;
  margin-left: 10vw;
}

.crew_image {
  display: block;
  position: absolute;
  width: 25vw;
  bottom: 0;
  margin-left: 50vw;
}

.crew_left {
  min-height: 70vh;
  min-width: 400px;
}

@media (max-width: 1200px) {
  .crew_container {
    background: url(../../assets/crew/background-crew-mobile.jpg) no-repeat
      center center/cover;
    min-height: 140vh;
  }

  .crew_left {
    margin-top: 15vh;
  }

  .crew_container_content {
    position: relative;

    max-width: 40vw;
    margin: 0 auto;
  }
  .crew_image {
    padding-top: 5rem;
    position: relative;
    margin: 0 auto;
    min-width: 300px;
  }
}

@media (max-width: 800px) {
  .crew_container_content {
    margin-top: 10rem;
  }
  .crew_left {
    margin-top: 20vh;
  }
}

@media (max-width: 650px) {
  .crew_container {
    padding: 1rem;
    min-height: 173vh;
  }

  .crew_left {
    margin-top: 15vh;
    min-width: unset;
  }

  .crew_container_content {
    margin-top: 25rem;
    max-width: unset;
  }
  .crew_image {
    margin-top: 3rem;
  }
}
