.dots_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 15vw;
  margin-top: 10vh;
  min-width: 250px;
}

.dots_container button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: grey;
  cursor: pointer;
}

.dots_container button:focus {
  background-color: whitesmoke;
}
