* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: hsl(230, 35%, 7%);
}

/* font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

a {
  text-decoration: none;
  color: white;
}

@keyframes homeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
