* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  background-color: hsl(230, 35%, 7%);
}

img {
  max-width: 100%;
  display: block;
}

@media (max-width: 650px) {
  img {
    max-width: 70%;
    margin-left: 3rem;
  }
}

button {
  font: inherit;
}

a {
  text-decoration: none;
  color: white;
}

@keyframes homeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
